<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="..\static\dist.css">

    <title>Pranav.P.M</title>
</head>
<body class="bg-grey-lighter h-screen font-sans">
    <form action='\addrec' method = "POST">
    <div class="container mx-auto h-full flex justify-center items-center">
        <div class="w-1/3">
            <h1 class="font-hairline mb-6 text-center">Welcome</h1>
            <div class="border-teal p-8 border-t-12 bg-white mb-6 rounded-lg shadow-lg">
                <div class="mb-4">
                    <label class="font-bold text-grey-darker block mb-2">Username</label>
                    <input type="text" class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Your Username" name="uname" required>
                </div>

                <div class="mb-4">
                    <label class="font-bold text-grey-darker block mb-2">E-mail</label>
                    <input type="text" class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Your E-mail" name="email" required>
                </div>

                <div class="flex items-center justify-between">
                    <button class="bg-teal-dark hover:bg-teal text-white font-bold py-2 px-4 rounded" type="submit" value = "submit">
                        Submit
                    </button>

                </div>
                
            </div>
        </div>
        </div>
        
    </form>    
</body>
</html>